.scrollerElement {
    display: inline-block;
    position: absolute;
    width: 33.8%;
    height: 100%;
}

.scroller {
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    line-height: 0;
}

.arrowContainer {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    top: 100%;
    transform: translateY(-100%);
}

.scroller i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 9px;
}

.scroller .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.scroller .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.scroller .rightControl {
    float: right;
}

.scroller i.arrow:hover {
    border-width: 0 3px 3px 0;
}