body, html {
    height: 100%;
}

#initial-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), transparent), url("../img/carpets.png") no-repeat center; 
    height: 100%;
    background-size: cover;
}

#initical-bg-centerpiece {
    width: 35%;
    height: 30%;
    margin: auto;
    text-align: center;
}

#initical-bg-centerpiece .standard-section-text {
    color: white;
    font-size: 3em;
}

#initical-bg-centerpiece .btn {
    color: white;
    border-color: white;
    margin: auto;
    margin-top: 2.5em;
    padding: 17px;
    white-space: nowrap;
}

nav {
    height: 70px;
}

nav.mobile-menu-open {
    background-color: rgb(26, 181, 176);
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-bottom {
    position: relative;
    transform: translateY(-100%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    color: white;
    font-size: 1.4em;
    padding-right: 4em;
}

.branding {
    text-transform: uppercase;
    color: white;
}

.hamburger {
    cursor: pointer;
}

@font-face {
    font-family: semplicita-bold;
    src: url('../fonts/semplicita.bold.otf');
}

@font-face {
    font-family: myriad-regular;
    src: url('../fonts/Myriad Pro Regular.ttf');
}

@font-face {
    font-family: semplicita-medium;
    src: url('../fonts/semplicita.medium.otf');
}

.initial-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    pointer-events: none;
}

.text-only {
    height: 400px;  /* Try to kill this */
}

.text-only .container {
    width: 90%;
    text-align: center;
    margin: auto;
}

.text-only .header {
    margin: auto;
    margin-bottom: 2%;
}

.text-only .text {
    margin: auto;
    width: 60%;
    margin-bottom: 3%;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 7px 11px;
    border-radius: 4px;
    font-size: 0.8em;
    letter-spacing: 0.17em;
    font-family: semplicita-medium;
    display: inline-block;
}

.who-we-are-image {
    width: 100%;
}

.who-we-are {
    position: relative;
    overflow: hidden;
}

.who-we-are .overlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(26,181,176,0.8), rgba(26,181,176,0));
}

.who-we-are .overlay .container {
    width: 50%;
    margin-left: 10%;
    color: white;
}

.who-we-are .overlay .container a {
    color: white;
    border-color: white;
    display: inline-block;
    margin-top: 2em;
}

.who-we-are .overlay .container .standard-header {
    margin-bottom: 0.2em;
}

.who-we-are .overlay .container .standard-section-text {
    width: 65%;
    /* font-family: myriad-regular; */
}

.which-floor {
    height: 400px; /* can you kill this? px */
}

.which-floor .left-side, .which-floor .right-side {
    width: 50%;
    height: 100%;
    float: left;
}

.which-floor .left-side {
    height: 100%;
}

.which-floor .standard-section-text {
    padding-bottom: 1.5em;
}

.standard-header {
    text-transform: uppercase;
    font-size: 3em;
    font-family: semplicita-medium;
    font-weight: bold;
}

.standard-section-text {
    font-size: 2em;
    font-family: myriad-regular;
}

.which-floor .left-side .container {
    width: 70%;
    margin: auto;
}

.which-floor .left-side .container .standard-header {
    padding-bottom: 0.5em;
}

/* Brochure Fan */
.cardfan {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.cardfan img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.see-our-work {
    position: relative;
}

.see-our-work .see-our-work-image {
    width: 100%;
}

.see-our-work .see-our-work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}

.see-our-work .see-our-work-overlay .standard-header {
    margin-bottom: 0.25em;
}

.see-our-work .see-our-work-overlay .left, .see-our-work .see-our-work-overlay .right {
    width: 50%;
    height: 100%;
    float: left;
}

.see-our-work .see-our-work-overlay .right .btn {
    display: inline-block;
    margin-top: 1.5em;
}

.see-our-work .see-our-work-overlay .right .container {
    width: 57%;
    margin: auto;
}

.see-our-work .see-our-work-overlay .left {
    background-color: transparent;
}

.see-our-work .see-our-work-overlay .left .btn {
    margin: auto;
    display: block;
    text-align: center;
    width: 20%;
    position: relative;
    top: 75%;
    margin-left: 55%;
    width: 10em;
    
}

.contact {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
    font-family: semplicita-medium;
}

.row1, .row2 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.rowLeftCol {
    flex: 1;
    text-align: center;
    padding-right: 5%;            
}

.rowRightCol {
    flex: 1;
    text-align: center;
    padding-left: 5%;
}

.row3, .row4, .row5, .row6{
    text-align: center;
    flex: 1;
}

.row6 {
    margin-top: 1.7em;
}

.label {
    flex: 1;
    margin-top: 2em;
}

.control {
    flex: 1;
    margin: auto;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1.2em;
    height: 30px;
}

input.control {
    border: 1px solid black;
    padding-left: 0.8em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.15em;
}

input.control::placeholder {
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(193, 191, 191);
    letter-spacing: 0.15em;
}

.block-black {
    /* background-color: black; */
    background-color: rgb(26, 181, 176);
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
    margin: 0;
}

/* headers start at 3ems, text at 2ems */


 

@media screen and (max-width: 1300px) {
    .standard-header {
        font-size: 2.5em;
    }

    .standard-section-text {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 600px) {
    /* .standard-header {
        font-size: 2em;
    } */

    .standard-section-text {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 445px) {
     .standard-header {
        font-size: 1.2em;
    } 



    .standard-section-text {
        font-size: 1em;
    }

    .text-only .btn {
        margin-top: 2em;
    }

    .text-only .standard-header {
        margin-bottom: 1em;
    }

    .who-we-are .overlay .container .standard-section-text {
        width: 55%;
    }
}





@media screen and (max-width: 890px) {
    .row1, .row2 {
        display: block;
    }

    .rowRightCol, .rowLeftCol {
        padding-left: 0;
        padding-right: 0;
    }

    .control {
        margin-bottom: 10%;

    }

    .who-we-are .overlay .container {
        width: 100%;
        text-align: center;
    }

    .who-we-are .overlay .container .standard-header {
        text-align: center;
    }

    .who-we-are-image, .see-our-work .see-our-work-image {
        width: 190%;
    }

    .who-we-are .overlay .container .standard-section-text {
        text-align: center;
        margin: auto;
    }

    .which-floor .right-side {
        display: none;
    }

    .which-floor .left-side {
        width: 100%;
        text-align: center;
        
    }

    .see-our-work {
        overflow: hidden;
    }

    .see-our-work .right {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .mobile-menu li {
        padding: 0.7em 1em;
        font-size: 2.3em;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .who-we-are .overlay .container {
        margin-left: 0;
    }

    .scroller {
        padding-top: calc(100% * 4) !important; /* Kill important later */
    }

    .scroller .arrowContainer {
        display: none;
    }

    .scroller .scrollerElement:nth-child(1) {
        height: 25%;
        top: 0 !important;
        left: 0  !important;
        width: 100%;
    }
    
    .scroller .scrollerElement:nth-child(2) {
        height: 25%;
        top: 25% !important;
        left: 0  !important;
        width: 100%;
    }

    .scroller .scrollerElement:nth-child(3) {
        height: 25%;
        top: 50% !important;
        left: 0  !important;
        width: 100%;
    }

    .scroller .scrollerElement:nth-child(4) {
        height: 25%;
        top: 75% !important;
        left: 0  !important;
        width: 100%;
    }

    .contact label {
        margin-top: 0;
    }

    footer {
        text-align: center;
    }

    #initical-bg-centerpiece {
        width: 70%;
    }

}


@media screen and (max-width: 1024px) {
    .desktop-menu li {
        padding-right: 2em;
    }

    /* .see-our-work .see-our-work-overlay .standard-header {
        font-size: 2em;
    } */

}

@media screen and (max-width: 530px) {
    /* .who-we-are .overlay .container .standard-section-text, .who-we-are .overlay .container .standard-header {
        font-size: 1.3em;
    } */
}

/* .who-we-are .overlay .container .standard-section-text */
@media screen and (max-width: 450px) {
    /* .who-we-are .overlay .container .standard-section-text, .who-we-are .overlay .container .standard-header {
        font-size: 1em;
        
    } */
}

.mobile-menu li a, .desktop-menu li a {
    text-decoration: none;
    color: white;
    font-family: semplicita-medium;
}

.displayed {
    display: block;
    /* background-color: rgb(0, 0, 0);
     */
    /* height: 100vh; */
    color: white;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1;
    background-color: rgb(26, 181, 176);

}



.contact .header {
    text-align: center;
}

.contact .header .standard-section-text {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.contact label {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.8em;
    display: block;
}

.dropdownTextHolder.unselected {
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(193, 191, 191);
    letter-spacing: 0.15em;
}

.dropdownItem {
    font-size: 0.8em;
    color: black;
}

a.btn.enquire {
    display: inline-block;
    margin-top: 0.8em;
}

#initial-bg .initial-bg-more {
    width: 100%;

    top: 98%;
    left: 50%;
    margin: auto;
    display: block;
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
}

.moreArrowContainer {
    height: 30px;
    width: 100%;
    text-align: center;
}

.seeMore {
    text-align: center;
    text-transform: uppercase;
    color: white;
    /* font-size: 0.9em; */
    letter-spacing: 0.17em;
    font-family: semplicita-medium;
}

.moreArrowContainer .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.moreArrowContainer i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
}

nav .branding {
    padding-left: 20px;
    font-size: 2em;
}

.hamburger {
    padding-right: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-family: semplicita-medium;
}

/* ----------------- Hamburger Menu ------- */
.hamburger .line {
    width: 50px;
    height: 5px;
    display: block;
    background-color: white;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

@media screen and (min-width: 890px) {
    .mobile-menu {
        display: none;
    }
    
    nav.mobile-menu-open {
        /* background-color: rgba(0, 0, 0, 0);
        ba */
        background-color: rgb(26, 181, 176);
    }
}

/* Footer */
footer {
    padding: 40px 20px;
    background-color: rgb(26, 181, 176);
    font-family: semplicita-medium;
    font-size: 1.5em;
}

nav {
    position: fixed;
    width: 100%;
}